name: Show PR Stack

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  sync:
    name: Show PR Stack
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: git-town/action@v1
